*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: rgba(0,0,0,.9);
}
ul,li,p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
header{
	width: 100%;
	background: #fff;
}
.header_content{
	width: 100%;
	z-index: 20;
	background: #fff;
}
nav ul {
	width: 100%;
	text-align: center;
}
nav ul li a{
	font-size: 16px;
	line-height: 100px;
	color: #777777;
}
.redline{
	width: 80%;
	height: 3px;
	background:  #b71524;
	margin: 0 auto;
	margin-top: -3px;
}
.marryTime{
	background: #000;
	width: 100%;
}
.marryTime ul li a{
	line-height: 46px;
	color: #b5a56b;
}
.carousel-indicators li{
	width: 40px;
	height: 5px;
	margin: 0;
	border: none;
	background: #fff;
}
.carousel-indicators .active{
	width: 40px;
	height: 5px;
	background: red;
}
.banner_next_arrow{
	width: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	right: 0;
	display: none;
	-moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.banner_prev_arrow{
	width: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	display: none;
}
.carousel-control.right,.carousel-control.left{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
}
.container_content{
	width: 100%;
	background: #403f3b;
}
.top_title{
	width: 100%;
	background: #73726e;
	line-height: 150px;
	text-align: center;
	margin: 0;
	color: #ff8f8e;
}
.left_direction{
	background: #312318;
	color: #CFBE79;
	text-align: center;
	height: 516px;
	 display:table;
}
.left_direction_box{
	display:table-cell;vertical-align:middle;
}
.direction_ch{
	font-size: 50px;
}
.direction_line{
	width: 80%;
	margin: 0 auto;
	background: #CFBE79;
	height: 2px;
}
.direction_en,.direction_img{
	font-size: 30px;
}
.right_img{
	padding: 0;
}
.right_img img{
	width: 100%;
	height: 516px;
}
footer{
	position: relative;
	width: 100%;
	height: 150px;
	background: rgba(0,0,0,.9);
	display: table;
}
.footer_content{
	display:table-cell;vertical-align:middle;
}
footer p{
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
}
.return_top{
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 200px;
	right: 100px;
	z-index: 22;
	display: none;
	cursor: pointer;
}
.return_top .icon-fanhuidingbu{
	color: rgba(255,255,255,.7);
	font-size: 50px;
}
.footermodual{
	width: 100%;
	margin: 0;
	padding: 0;
}
.watchtower_banner img{
	width: 100%;
}
.watchtower_photos ul li:first-child{
	border-top: 0px solid #fff;
}
.watchtower_photos ul li:last-child{
	border-bottom: 0px solid #fff;
}
.watchtower_photos ul li{
	border-bottom: 8px solid #fff;
	border-top: 8px solid #fff;
	margin: 0;
	padding: 0;
}
.watchtower_photos ul li img{
	width: 100%;
}
.watchtower_title{
	width: 400px;
    height: 68px;
    line-height: 68px;
    font-size: 40px;
    color: #b5a56b;
    text-align: center;
    margin: 50px auto;
    border-bottom: solid 3px #b5a56b;
}
.watchtower_body{
	background: #fff;
	background: url(../img/13.jpg) fixed center top;
    height: auto;
}
.container_content_one{
	cursor: pointer;
	height: 516px;
	width: 100%;
}
/* 相册 */
.abbum{
	text-align: center;
	background: #fff;
}
.abbum img{
	height: 100%;
}
.nav{
	width: 100%;
	font-size: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.6);
	z-index: 5555;
}
.nav .aubum_box{
	overflow: auto;
	zoom: 1;
	width: 90%;
	margin: 0 auto;
}
.abbum{
	position: fixed;
	left: 0;
	top: 0;
}

.aubum_box li{
	width: 15%;
	height: 100px;
	float: left;
	line-height: 100px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
}